In [3]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('C:/Users/achur/desktop/python/techPathwayNotes/.venv/weekFourFolder/weather_data_w4d5/6-15-2017_12-31-2019.csv')

df.shape

(89610, 29)

In [11]:
# Show the first few rows of the dataframe
df.head()

# Get the basic info of the dataframe (e.g., column names, non-null counts, data types)
df.info()

# Get summary statistics of numeric columns
df.describe()

# Check for any missing values in the dataset
df.isnull().sum()

# Display the shape of the dataframe (rows, columns)
df.shape

# Count the unique values in each column (useful for categorical columns)
df.nunique()

# Check the column names to see if they need any adjustments
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89610 entries, 0 to 89609
Data columns (total 29 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  89610 non-null  object
 1   NAME     89610 non-null  object
 2   DATE     89610 non-null  object
 3   AWND     8592 non-null   float64
 4   DAPR     1278 non-null   float64
 5   DASF     2 non-null      float64
 6   MDPR     1272 non-null   float64
 7   MDSF     2 non-null      float64
 8   PGTM     4378 non-null   float64
 9   PRCP     87989 non-null  float64
 10  SNOW     43874 non-null  float64
 11  SNWD     19804 non-null  float64
 12  TAVG     3285 non-null   float64
 13  TMAX     14724 non-null  float64
 14  TMIN     14739 non-null  float64
 15  TOBS     5692 non-null   float64
 16  WDF2     8601 non-null   float64
 17  WDF5     8585 non-null   float64
 18  WSF2     8601 non-null   float64
 19  WSF5     8585 non-null   float64
 20  WT01     2641 non-null   float64
 21  WT02     223 non-null    float64
 22  WT03     519 non-null    float64
 23  WT04     130 non-null    float64
 24  WT05     8 non-null      float64
 25  WT06     60 non-null     float64
 26  WT08     526 non-null    float64
 27  WT09     17 non-null     float64
 28  WT11     25 non-null     float64
dtypes: float64(26), object(3)
memory usage: 19.8+ MB

Index(['STATION', 'NAME', 'DATE', 'AWND', 'DAPR', 'DASF', 'MDPR', 'MDSF',
       'PGTM', 'PRCP', 'SNOW', 'SNWD', 'TAVG', 'TMAX', 'TMIN', 'TOBS', 'WDF2',
       'WDF5', 'WSF2', 'WSF5', 'WT01', 'WT02', 'WT03', 'WT04', 'WT05', 'WT06',
       'WT08', 'WT09', 'WT11'],
      dtype='object')

In [16]:
df['DATE'] = pd.to_datetime(df['DATE'], errors='coerce')

In [17]:
df.isnull().sum()

STATION        0
NAME           0
DATE           0
AWND       81018
DAPR       88332
DASF       89608
MDPR       88338
MDSF       89608
PGTM       85232
PRCP        1621
SNOW       45736
SNWD       69806
TAVG       86325
TMAX       74886
TMIN       74871
TOBS       83918
WDF2       81009
WDF5       81025
WSF2       81009
WSF5       81025
WT01       86969
WT02       89387
WT03       89091
WT04       89480
WT05       89602
WT06       89550
WT08       89084
WT09       89593
WT11       89585
dtype: int64