In [ ]:
import pandas as pd
import numpy as np

In [ ]:
temps = pd.Series([32, 25, 28, 75, 42], index=['New York', 'Seattle', 'San Francisco', 'Montreal', 'Phoenix' ] )

In [ ]:
temps

New York         32
Seattle          25
San Francisco    28
Montreal         75
Phoenix          42
dtype: int64

In [ ]:
# temps.values
# temps.index
# temps.max()
# temps.describe
# temps.value_counts()

32    2
25    1
28    1
75    1
42    1
Name: count, dtype: int64

In [ ]:
dict = {'New York': 32, 'Seattle': 25, 'San Francisco': 28, 'Montreal': 75, 'Phoenix': 42}

In [ ]:
temps = pd.Series(dict)
temps

New York         32
Seattle          25
San Francisco    28
Montreal         75
Phoenix          42
dtype: int64

In [ ]:
temps['Seattle' : 'Montreal']

Seattle          25
San Francisco    28
Montreal         75
dtype: int64

In [19]:
celsius_temps = temps * 9/5 + 32
celsius_temps

New York          89.6
Seattle           77.0
San Francisco     82.4
Montreal         167.0
Phoenix          107.6
dtype: float64

In [20]:
diff = temps - celsius_temps
diff

New York        -57.6
Seattle         -52.0
San Francisco   -54.4
Montreal        -92.0
Phoenix         -65.6
dtype: float64

In [21]:
diff.index

Index(['New York', 'Seattle', 'San Francisco', 'Montreal', 'Phoenix'], dtype='object')

In [22]:
diff.dtype

dtype('float64')

In [23]:
diff.describe

<bound method NDFrame.describe of New York        -57.6
Seattle         -52.0
San Francisco   -54.4
Montreal        -92.0
Phoenix         -65.6
dtype: float64>

In [24]:
diff.min

<bound method Series.min of New York        -57.6
Seattle         -52.0
San Francisco   -54.4
Montreal        -92.0
Phoenix         -65.6
dtype: float64>

In [25]:
missing_temps = pd.Series([34, 75, np.nan, 43, np.nan])

In [27]:
missing_temps.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [28]:
filled = missing_temps.fillna(0)

In [30]:
dropped = missing_temps.dropna()
dropped

0    34.0
1    75.0
3    43.0
dtype: float64

In [32]:
temps[temps >74]

Montreal    75
dtype: int64

In [ ]:
# create a series of daily temperatures with custom day laels
# create a series of daily precipitation values
# claculate the average temperature, the total precipitation
#find days where the temperatrue is > x and and the precipitation is < than y

In [34]:
weather_records = [
    {'date': '2023-05-01', 'temperature': 72, 'humidity': 65, 'precipitation': 0.0, 'wind_speed': 8},
    {'date': '2023-05-02', 'temperature': 75, 'humidity': 70, 'precipitation': 0.2, 'wind_speed': 12},
    {'date': '2023-05-03', 'temperature': 69, 'humidity': 75, 'precipitation': 0.5, 'wind_speed': 15},
    {'date': '2023-05-04', 'temperature': 78, 'humidity': 60, 'precipitation': 0.0, 'wind_speed': 10},
    {'date': '2023-05-05', 'temperature': 82, 'humidity': 55, 'precipitation': 0.0, 'wind_speed': 7},
]

weather_data = {
    'date': ['2023-05-01', '2023-05-02', '2023-05-03', '2023-05-04', '2023-05-05'],
    'temperature': [72, 75, 69, 78, 82],
    'humidity': [65, 70, 75, 60, 55],
    'precipitation': [0.0, 0.2, 0.5, 0.0, 0.0],
    'wind_speed': [8, 12, 15, 10, 7]
}
df = pd.DataFrame(weather_records)
df

         date  temperature  humidity  precipitation  wind_speed
0  2023-05-01           72        65            0.0           8
1  2023-05-02           75        70            0.2          12
2  2023-05-03           69        75            0.5          15
3  2023-05-04           78        60            0.0          10
4  2023-05-05           82        55            0.0           7

In [35]:
df.shape

(5, 5)

In [36]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [37]:
df.set_index('date')

            temperature  humidity  precipitation  wind_speed
date
2023-05-01           72        65            0.0           8
2023-05-02           75        70            0.2          12
2023-05-03           69        75            0.5          15
2023-05-04           78        60            0.0          10
2023-05-05           82        55            0.0           7

In [38]:
df = pd.DataFrame(weather_records)
df

         date  temperature  humidity  precipitation  wind_speed
0  2023-05-01           72        65            0.0           8
1  2023-05-02           75        70            0.2          12
2  2023-05-03           69        75            0.5          15
3  2023-05-04           78        60            0.0          10
4  2023-05-05           82        55            0.0           7

In [39]:
unknown_weather = [
    ['2023-05-01', '2023-05-02', '2023-05-03', '2023-05-04', '2023-05-05'],
    [72, 75, 69, 78, 82],     # temperature
    [65, 70, 75, 60, 55],     # humidity
    [0.0, 0.2, 0.5, 0.0, 0.0],# precipitation
    [8, 12, 15, 10, 7]        # wind_speed
]

df3 = pd.DataFrame(unknown_weather)
df3

            0           1           2           3           4
0  2023-05-01  2023-05-02  2023-05-03  2023-05-04  2023-05-05
1          72          75          69          78          82
2          65          70          75          60          55
3         0.0         0.2         0.5         0.0         0.0
4           8          12          15          10           7

In [41]:
df.head(2)

         date  temperature  humidity  precipitation  wind_speed
0  2023-05-01           72        65            0.0           8
1  2023-05-02           75        70            0.2          12

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           5 non-null      object
 1   temperature    5 non-null      int64
 2   humidity       5 non-null      int64
 3   precipitation  5 non-null      float64
 4   wind_speed     5 non-null      int64
dtypes: float64(1), int64(3), object(1)
memory usage: 332.0+ bytes

In [43]:
df.describe()

       temperature   humidity  precipitation  wind_speed
count     5.000000   5.000000       5.000000    5.000000
mean     75.200000  65.000000       0.140000   10.400000
std       5.069517   7.905694       0.219089    3.209361
min      69.000000  55.000000       0.000000    7.000000
25%      72.000000  60.000000       0.000000    8.000000
50%      75.000000  65.000000       0.000000   10.000000
75%      78.000000  70.000000       0.200000   12.000000
max      82.000000  75.000000       0.500000   15.000000

In [45]:
df['temperature']

0    72
1    75
2    69
3    78
4    82
Name: temperature, dtype: int64

In [46]:
df[['temperature', 'humidity']]

   temperature  humidity
0           72        65
1           75        70
2           69        75
3           78        60
4           82        55

In [ ]:
#loc- references 
#iloc- references the indexes we set

In [48]:
df.iloc[[0,3]]

         date  temperature  humidity  precipitation  wind_speed
0  2023-05-01           72        65            0.0           8
3  2023-05-04           78        60            0.0          10

In [54]:
df[df['temperature'] > 75]

         date  temperature  humidity  precipitation  wind_speed
3  2023-05-04           78        60            0.0          10
4  2023-05-05           82        55            0.0           7

In [55]:
df[df['humidity'] > 56]

         date  temperature  humidity  precipitation  wind_speed
0  2023-05-01           72        65            0.0           8
1  2023-05-02           75        70            0.2          12
2  2023-05-03           69        75            0.5          15
3  2023-05-04           78        60            0.0          10

In [56]:
temp = df['temperature'] > 75
humidity = df['humidity'] > 56
df[temp & humidity]

         date  temperature  humidity  precipitation  wind_speed
3  2023-05-04           78        60            0.0          10

In [58]:
df[(df['temperature'] > 75) & (df['humidity'] > 56)]

         date  temperature  humidity  precipitation  wind_speed
3  2023-05-04           78        60            0.0          10

In [62]:
df['feels_like'] = df['temperature'] - .1 * df['humidity']
df

         date  temperature  humidity  precipitation  wind_speed  feels_like
0  2023-05-01           72        65            0.0           8        65.5
1  2023-05-02           75        70            0.2          12        68.0
2  2023-05-03           69        75            0.5          15        61.5
3  2023-05-04           78        60            0.0          10        72.0
4  2023-05-05           82        55            0.0           7        76.5

In [63]:
df['temperature'] = df['temperature'] + 1
df

         date  temperature  humidity  precipitation  wind_speed  feels_like
0  2023-05-01           73        65            0.0           8        65.5
1  2023-05-02           76        70            0.2          12        68.0
2  2023-05-03           70        75            0.5          15        61.5
3  2023-05-04           79        60            0.0          10        72.0
4  2023-05-05           83        55            0.0           7        76.5

In [64]:
df['feels_like'] = df['temperature'] - 0.1 * df['humidity']
df

         date  temperature  humidity  precipitation  wind_speed  feels_like
0  2023-05-01           73        65            0.0           8        66.5
1  2023-05-02           76        70            0.2          12        69.0
2  2023-05-03           70        75            0.5          15        62.5
3  2023-05-04           79        60            0.0          10        73.0
4  2023-05-05           83        55            0.0           7        77.5

In [65]:
df.max()

date             2023-05-05
temperature              83
humidity                 75
precipitation           0.5
wind_speed               15
feels_like             77.5
dtype: object

In [66]:
df.min()

date             2023-05-01
temperature              70
humidity                 55
precipitation           0.0
wind_speed                7
feels_like             62.5
dtype: object

In [69]:
df['temperature'].max() - df['temperature'].min()

np.int64(13)